
.topView{
    margin-top:11vh;
}
.mainChore{
 
    border-radius:5px;
    margin: 25px 50px 25px 50px;
    color:#f9f0f2;
    background-color: #9888a5;
    
    font-weight: 700;
    font-size: 20px;
  
   font-family: 'Inter', sans-serif;
    
}
.mainTitle{
color: #37023c;
font-size: 30px;
text-shadow: 2px 1px#3c7a89;
}

.mainBckgrnd{
    background-color: #f9f0f2;
    min-height: 900px;
    display: flex;
   
}


.rightSide{
    width: 100%;
   
}


    @media screen and (min-width: 600px) {
       .topView{
            margin-top: 14vh;
       }
    }