
.topView{
    margin-top:12vh;
}
.intro{
    margin: 0% 12%;
}
.allCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.mainChore{
 
    border-radius:5px;
    margin: 15px 20px 15px 20px;
    color:#f9f0f2;
    background-color: #9888a5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    font-weight: 700;
    font-size: 20px;
  
   font-family: 'Inter', sans-serif;
    
}
.mainTitle{
color: #37023c;
font-size: 30px;
text-shadow: 2px 1px#3c7a89;
}

.mainBckgrnd{
    background-color: #f9f0f2;
    min-height: 900px;
    display: flex;
   
}


.rightSide{
    width: 100%;
   
}
.newRightSide{
    width: 100%;
    margin: 3% 10%;
}



    @media screen and (min-width: 600px) {
       .topView{
            margin-top: 14vh;
       }
    }
    @media screen and (min-width: 1080px) {
        .newRightSide{
            width: 100%;
            margin: 3% 15%;
        }
     }